@import "~materialize-css/sass/components/color-variables";

$primary-color: color("blue", "darken-4");
$navbar-font-color: color("shades", "black");

$footer-font-color: color("shades", "black");
$footer-copyright-font-color: color("shades", "black");
$footer-bg-color: color("grey", "lighten-4");

$h1-fontsize: 2.7rem;
$h2-fontsize: 2.2rem;
$h3-fontsize: 1.9rem;
$h4-fontsize: 1.7rem;
$h5-fontsize: 1.5rem;
$h6-fontsize: 1.15rem;


