  <div class="container">
    <div class="row">
      <div class="col l8 offset-l2 s12 header">
        <h1>{{"Наши пробеги"| translate}}</h1>
      </div>
      <div class="row" *ngIf="!isLoaded">
        <autotourism-loader></autotourism-loader>
      </div>
      <div class="col s12" *ngIf="isLoaded">
        <div class="card-panel z-depth-1" *ngFor="let trip of trips | autoPaginator:currentPage:itemsOnPage">
          <div class="row valign-wrapper">
            <div class="col m2 hide-on-small-only">
              <i
                class="material-icons dp48 medium"
                [ngClass]="{
                'green-text':dateHappened(trip.date_until),
                'yellow-text':dateHappened(trip.date_from),
                'red-text':dateHappened(trip.registration_open_from) && !dateHappened(trip.registration_open_to)
                }"
              >directions_car</i>
            </div>
            <div class="col s12 m10">
              <span class="new badge red left" *ngIf="dateHappened(trip.registration_open_from) && !dateHappened(trip.registration_open_to)" data-badge-caption="Открыта регистрация"></span>
              <h3>{{trip.number?"№"+trip.number:""}} {{trip.name| translate}}</h3>
              <span class="black-text">
                {{"Пробег" | translate}} {{!dateHappened(trip.date_from)?('состоится' | translate):!dateHappened(trip.date_until, 1)?('проходит' | translate):('состоялся' | translate)}} {{"c" | translate}} {{trip.date_from | autoMoment: 'YYYY-MM-DD'}} {{"по" | translate}} {{trip.date_until | autoMoment: 'YYYY-MM-DD'}}
              </span>

              <p class="secondary-content">

                <a [routerLink]="[trip.id, 'members']" *ngIf="trip.members_number > 0"><i class="material-icons tiny">people</i> {{"Список экипажей"| translate}}</a>
                <a [routerLink]="[trip.id, 'info']"><i class="material-icons tiny">info_outline</i> {{"Информация о пробеге"| translate}}</a>
                <a [routerLink]="['/report', trip.id]" *ngIf="trip.report"><i class="material-icons tiny">description</i> {{"Отчёт о пробеге"| translate}}</a>
              </p>
            </div>
          </div>
        </div>
        <ul class="pagination center">
          <li
          >
            <button
              class="waves-effect btn-flat btn"
              *ngIf="!(currentPage >= maxPage)"
              (click)="nextPage()"
            >
              {{"Предыдущие"| translate}}
              <i class="material-icons left">chevron_left</i>
            </button>
          </li>
          <li>
            <button
              class="btn btn-flat waves-effect waves-light  "
              *ngIf="!(currentPage <= 1)"
              (click)="prevPage()"
            >
              {{"Следующие"| translate}}
              <i class="material-icons right">chevron_right</i>
            </button>
          </li>

        </ul>
      </div>
    </div>
  </div>

