<div class="container">
  <div class="row">
    <div class="col l10 offset-l2 s12 header">
      <h1>{{"Отчёт о пробеге"| translate}} <ng-container *ngIf="isLoaded">{{trip.number}} {{trip.name| translate}}</ng-container></h1>
    </div>
  </div>
</div>
<div class="row" *ngIf="!isLoaded">
  <autotourism-loader></autotourism-loader>
</div>
<div *ngIf="isLoaded">
  <div *ngFor="let element of article">
    <div class="section white" *ngIf="element.type === 'text'">
      <div class="row container">
        <div class="col s12 m10 offset-m1">
          <p *ngFor="let p of element.contents" [innerHTML]="p">
          </p>
        </div>
      </div>
    </div>
    <div  *ngIf="element.type === 'img'">
      <div class="parallax-container" *ngFor="let img of element.contents">
        <div class="parallax" autotourismParallax >
          <img [src]="img.src">
        </div>
      </div>
    </div>

  </div>
</div>
<!--<div class="parallax-container">-->
  <!--<div class="parallax"><img src="images/parallax1.jpg"></div>-->
<!--</div>-->
