<div class="col l8 offset-l2 s12 header">
  <h1>{{"Пробеги"| translate}}</h1>
</div>
<div class="col s12">
  <div class="card">
    <div class="card-content">
      <div class="row" *ngIf="!isLoaded">
        <autotourism-loader></autotourism-loader>
      </div>

      <div  *ngIf="isLoaded">
        <div class="row">
          <a
            class="waves-effect waves-light btn right blue"
            [routerLink]="['new']"
          >
            <i class="material-icons left">add</i>{{"Создать новый"| translate}}
          </a>
        </div>
        <table class="striped responsive-table">
          <thead>
          <tr>
            <th>#</th>
            <th>{{"Название"| translate}}</th>
            <th>{{"Начало"| translate}}</th>
            <th>{{"Окончание"| translate}}</th>
            <th>{{"Статус"| translate}}</th>
            <th>{{"Экипажей"| translate}}</th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <tr
            *ngFor="let trip of trips | autoPaginator:currentPage:itemsOnPage"
          >
            <td><b>{{trip.number}}</b></td>
            <td>{{trip.name| translate}}</td>
            <td style="white-space: nowrap">{{trip.date_from | autoMoment: 'YYYY-MM-DD'}}</td>
            <td style="white-space: nowrap">{{trip.date_until | autoMoment: 'YYYY-MM-DD'}}</td>
            <td class="center">
              <i
                class="material-icons red-text tooltipped"
                data-position="bottom"
                data-tooltip="I am a tooltip"
                *ngIf="trip.type === 'draft'"
              >border_color</i>
              <i
                class="material-icons accent-3-text light-blue-text tooltipped"
                data-position="bottom"
                data-tooltip="I am a tooltip"
                *ngIf="trip.type === 'plan'"
              >book</i>
              <i
                class="material-icons green-text tooltipped"
                data-position="bottom"
                data-tooltip="I am a tooltip"
                *ngIf="trip.type === 'real'"
              >assignment_turned_in</i>
            </td>
            <td class="center">{{trip.members_number}}</td>
            <td>
              <button
                class='dropdown-trigger btn'
                [attr.data-target]="'dropdown'+trip.id"
                autotourismDropdown
              >
                <i class="material-icons">edit</i>
              </button>

              <ul [attr.id]="'dropdown'+trip.id" class='dropdown-content'>
                <li>
                  <a
                    [routerLink]="['info', trip.id]"
                  >
                    {{"Общая информация"| translate}}
                  </a>
                </li>
                <li>
                  <a
                    [routerLink]="['route', trip.id]"
                  >
                    {{"Маршрут"| translate}}
                  </a>
                </li>
                <li>
                  <a
                    [routerLink]="['members', trip.id]"
                  >
                    {{"Экипажи пробега"| translate}}
                  </a>
                </li>
                <li>
                  <a
                    [routerLink]="['report', trip.id]"
                  >
                    {{"Отчёт"| translate}}
                  </a>
                </li>

              </ul>




            </td>
          </tr>

          </tbody>
        </table>
        <autotourism-parinator-buttons
          (goPage)="goToPage($event)"
          (goNext)="onNext()"
          (goPrev)="onPrev()"
          [pagesToShow]="3"
          [page]="currentPage"
          [perPage]="itemsOnPage"
          [count]="totalItems">
        </autotourism-parinator-buttons>
      </div>
    </div>
  </div>
</div>
