<div class="block white">
  <div class="container">
    <div class="row">
      <div class="col m12">
        <p class="flow-text">
          {{"«Автотуризм без границ» - это клуб любителей автопутешествий, движение, созданное в 2010 году чтобы объединить всех, кто любит дорогу и хорошую компанию." | translate}}
        </p>
        <p class="flow-text">
          {{"Если Вы любите свою машину, получаете удовольствие от поездок на дальние расстояния и хотите общаться с единомышленниками – присоединяйтесь…" | translate}}
        </p>
      </div>
    </div>
  </div>
</div>
