<div class="card-panel lighten-5 z-depth-1">
  <div class="row" *ngIf="!isLoaded">
    <autotourism-loader></autotourism-loader>
  </div>
  <div *ngIf="isLoaded">
    <table class="striped">
      <thead>
        <tr>
          <th>{{"Экипаж №"| translate}}</th>
          <th>{{"Ник"| translate}}</th>
          <th>{{"Авто"| translate}}</th>
          <th>{{"Город"| translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let member of members.members">
          <td>{{member.number}}</td>
          <td>{{member.nick}}</td>
          <td>{{member.auto}}</td>
          <td>{{member.city| translate}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
