<div class="col l10 offset-l2 s12 header">
  <h1 *ngIf="isLoaded">Участники пробега №</h1>
</div>
<div class="row">
  <button
    class="waves-effect waves-teal btn-flat btn "
    (click)="goBack()"
  >
    <i class="material-icons left">arrow_back</i>
    Назад
  </button>
</div>
<div class="col s12">
  <div class="card">
    <div class="card-content">
      <div class="row" *ngIf="!isLoaded">
        <autotourism-loader></autotourism-loader>
      </div>
      <div *ngIf="isLoaded">
        <!-- Modal Trigger -->
        <div class="row">
          <button
            class="waves-effect waves-light btn modal-trigger right"
            data-target="modal1"
            type="button"
          >
            <i class="material-icons left">get_app</i>
            Импортировать участников
          </button>
        </div>
        <div class="row">
          <div class="col s12 m12">
            <div class="card red darken-1" *ngIf="errorRow.length > 0 || smallRow.length > 0">
              <div class="card-content white-text" *ngIf="errorRow.length > 0">
                <p><strong>Следующие строки не импортированы из-за того что в строке нашлось более 4-х колонок:</strong></p>
                <ul *ngFor="let error of errorRow">
                  <li>{{error}}</li>
                </ul>
              </div>
              <div class="card-content white-text" *ngIf="smallRow.length > 0">
                <p><strong>Следующие строки не импортированы из-за того что в строке нашлось менее 4-х колонок:</strong></p>
                <ul *ngFor="let error of smallRow">
                  <li>{{error}}</li>
                </ul>
              </div>
            </div>
            <div class="card amber darken-1" *ngIf="headerRow.length > 0">
              <div class="card-content white-text">
                <p><strong>Следующие строки не импортированы из-за того что определились как заголовок:</strong></p>
                <ul *ngFor="let error of headerRow">
                  <li>{{error}}</li>
                </ul>
              </div>
            </div>
            <div class="card light-green accent-3" *ngIf="updatedMembers.length > 0 || importedMembers.length > 0">
              <div class="card-content" *ngIf="updatedMembers.length > 0">
                <p><strong>Информация по следующим экипажам обновлена:</strong></p>
                <p>{{updatedMembers.join(', ')}}</p>
              </div>
              <div class="card-content" *ngIf="importedMembers.length > 0">
                <p><strong>Добавленые экипажи:</strong></p>
                <p>{{importedMembers.join(', ')}}</p>
              </div>
            </div>
          </div>
        </div>

        <form
          [formGroup]="form"
          (ngSubmit)="onSubmit(form)"
        >
          <div formArrayName="members" *ngIf="form">
            <div *ngFor="let items of form.controls.members.controls; let i = index;">
              <div [formGroupName]="i" class="row">
                <div class="input-field col s3">
                  <input
                    [id]="'nick_'+i"
                    type="text"
                    formControlName="nick"
                    [autotourismAutocomplete]="{'data':nicks}"
                  >
                  <label
                    [for]="'nick_'+i"
                    [ngClass]="{'active':items.value.nick}"
                  >
                    Ник
                  </label>
                  <span
                    class="helper-text red-text"
                    *ngIf="items.get('nick').touched && items.get('nick').invalid && items.get('nick').errors['required']"
                  >
                    Ник обязательное поле
                  </span>
                </div>
                <div class="input-field col s2">
                  <input
                    [id]="'number_'+i"
                    type="text"
                    formControlName="number"
                  >
                  <label
                    [for]="'number_'+i"
                    [ngClass]="{'active':items.value.number}"
                  >
                    Номер экипажа
                  </label>
                </div>
                <div class="input-field col s3">
                  <input
                    [id]="'auto_'+i"
                    type="text"
                    formControlName="auto"
                    [autotourismAutocomplete]="{'data':autous}"
                  >
                  <label
                    [for]="'auto_'+i"
                    [ngClass]="{'active':items.value.auto}"
                  >
                    Автомобиль
                  </label>
                </div>
                <div class="input-field col s3">
                  <input
                    [id]="'city_'+i"
                    type="text"
                    formControlName="city"
                    [autotourismAutocomplete]="{'data':cities}"
                  >
                  <label
                    [for]="'city_'+i"
                    [ngClass]="{'active':items.value.city}"
                  >
                    Место проживания
                  </label>
                  <span
                    class="helper-text red-text"
                    *ngIf="items.get('city').touched && items.get('city').invalid && items.get('city').errors['required']"
                  >
                    Ник обязательное поле
                  </span>
                </div>
                <div class="input-field col s1 center">
                  <button
                    type="button"
                    class="btn-floating waves-effect waves-light red"
                    (click)="removeRow(i)"
                  >
                    <i class="material-icons">delete_forever</i>
                  </button>

                </div>
                <div
                  class="col s12 error-block"
                  *ngIf="items.invalid && items.touched"
                >
                  <!--<span *ngIf="items.errors && items.errors['validateDateMore']">-->
                    <!--<i class="material-icons">arrow_upward</i>-->
                    <!--Дата окончания не может быть меньше даты начала<i class="material-icons">arrow_upward</i>-->
                  <!--</span>-->
                  <!--<span *ngIf="items.get('date_until').touched && items.get('date_until').invalid && items.get('date_until').errors['required']">-->
                    <!--Дата окончания обязательна для заполнения.-->
                    <!--<i class="material-icons">arrow_upward</i>-->
                  <!--</span>-->
                  <!--<span *ngIf="items.get('date_from').touched && items.get('date_from').invalid && items.get('date_from').errors['required']">-->
                    <!--<i class="material-icons">arrow_upward</i>-->
                    <!--Дата начала обязательна для заполнения.-->
                  <!--</span>-->
                  <!--<span *ngIf="items.get('description').touched && items.get('description').invalid && items.get('description').errors['required']">-->
                    <!--Страна обязательна для заполнения.-->
                  <!--</span>-->
                </div>
              </div>
            </div>
          </div>
          <div class="col l12">
            <div
              @fade
              class="card light-green accent-3"
              *ngIf="message"
            >
              <div class="card-content">
                <p>{{message}}</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <button
                class="btn waves-effect waves-light left"
                type="button"
                (click)="newRow()"
                name="action"
                [disabled]="form.invalid"
              >Добавить
                <i class="material-icons left">add</i>
              </button>
              <button
                class="btn waves-effect waves-light green right"
                type="submit"
                name="action"
                [disabled]="form.invalid"
              >Сохранить
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="fixed-action-btn">
  <button
    class="btn-floating btn-large blue"
    *ngIf="deletedMember"
    (click)="restoreLastDeleted()"
  >
    <i class="large material-icons">undo</i>
  </button>
</div>
<div
  id="modal1"
  class="modal modal-fixed-footer"
  autotourismModal
>
  <form
    (ngSubmit)="onImportMembers(importForm)"
    #importForm="ngForm"
>
    <div class="modal-content">
      <h4>Импорт участников</h4>

          <div class="row">
            <div class="col s12">
              <p>Список участников может быть легко импортирован из документа Word или Excel, для этого скопируйте содержимое документа в поле ниже и нажмите импортировать.</p>
              <p>Документ должен содержать 4 колонки в следующем порядке: № Экипажа, Ник, Автомобиль, Место проживания.</p>
            </div>
            <div class="input-field col s12">
              <textarea
                id="textarea1"
                class="materialize-textarea"
                ngModel
                name="imported-members"
              ></textarea>
              <label for="textarea1">Данные из Word или Excel</label>
            </div>
          </div>

    </div>
    <div class="modal-footer">
      <button type="submit" class="modal-close waves-effect waves-green btn-flat">Импортировать</button>
    </div>
  </form>
</div>
