<nav class="transparent">
  <div class="nav-wrapper">
    <div class="container">
      <a routerLink="/" class="brand-logo"><img src="../assets/logo.png" alt=""></a>
      <a href="#" class="sidenav-trigger black-text" data-target="slide"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
        >
          <a routerLink="">
            {{ "Главная" | translate }}
          </a>
        </li>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
        >
          <a routerLink="trips">
            {{ "Пробеги" | translate }}
          </a>
        </li>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
        >
          <a href="http://autotourism.org.ua/forum/">
            {{ "Форум" | translate }}
          </a>
        </li>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
        >
          <a routerLink="about">
            {{ "О движении" | translate }}
          </a>
        </li>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
        >
          <a routerLink="orgs">
            {{ "Организаторы" | translate }}
          </a>
        </li>
        <li>
          <a
            class="dropdown-trigger"
            (click)="changeLang()"
            data-target="dropdown_lang"
            autotourismDropdown
          >
            <i class="material-icons left">language</i> Eng / Рус
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav class="hide-on-med-and-down" *ngIf="authService.isLoggedIn()">
  <div class="nav-wrapper container">
    <div class="row">
      <div class="col l10 offset-l2">
        <ul class="left">
          <li
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
          >
            <a [routerLink]="['admin', 'crew']">
              {{ "Главная" | translate }}
            </a>
          </li>
          <li
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
          >
            <a [routerLink]="['admin', 'trips']">
              {{ "Пробеги" | translate }}
            </a>
          </li>
          <li
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
          >
            <a [routerLink]="['admin', 'about']">
              {{ "О движении" | translate }}
            </a>
          </li>
          <li
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
          >
            <a [routerLink]="['admin', 'orgs']">
              {{ "Организаторы" | translate }}
            </a>
          </li>
        </ul>
        <ul class="right">
          <li>
            <a (click)="onLogout()">
              {{ "Выйти" | translate }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<ul class="sidenav" id="slide" autotourismSidenav>
  <li
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
  >
    <a routerLink="" class="sidenav-close">
      {{ "Главная" | translate }}
    </a>
  </li>
  <li
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
  >
    <a routerLink="trips" class="sidenav-close">
      {{ "Пробеги" | translate }}
    </a>
  </li>
  <li
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
  >
    <a href="http://autotourism.org.ua/forum/">
      {{ "Форум" | translate }}
    </a>
  </li>
  <li
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
  >
    <a routerLink="about" class="sidenav-close">
      {{ "О движении" | translate }}
    </a>
  </li>
  <li
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
  >
    <a routerLink="orgs" class="sidenav-close">
      {{ "Организаторы" | translate }}
    </a>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    *ngIf="authService.isLoggedIn()"
  >
    <a [routerLink]="['admin', 'crew']">
      {{ "Главная админки" | translate }}
    </a>
  </li>
  <li
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    *ngIf="authService.isLoggedIn()"
  >
    <a [routerLink]="['admin', 'trips']">
      {{ "Редактировать пробеги" | translate }}
    </a>
  </li>
  <li
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    *ngIf="authService.isLoggedIn()"
  >
    <a [routerLink]="['admin', 'about']">
      {{ "Редактировать" | translate }} "{{ "О движении" | translate }}"
    </a>
  </li>
  <li
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    *ngIf="authService.isLoggedIn()"
  >
    <a [routerLink]="['admin', 'orgs']">
      {{ "Редактировать" | translate }} "{{ "Организаторы" | translate }}"
    </a>
  </li>

  <li *ngIf="authService.isLoggedIn()">
    <div class="divider"></div>
  </li>
  <li *ngIf="authService.isLoggedIn()">
    <a (click)="onLogout()">
      {{ "Выйти" | translate }}
    </a>
  </li>

</ul>
<div class="block grey lighten-4">
  <router-outlet></router-outlet>
  <div class="row center" *ngIf="loading">
    <div class="preloader-wrapper big active ">
      <div class="spinner-layer spinner-red-only ">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">{{ "Автотуризм без границ" | translate }}</h5>
        <p class="grey-text text-lighten-4">
          {{ "Если Вы любите свою машину, получаете удовольствие от поездок на дальние расстояния и хотите общаться с единомышленниками – присоединяйтесь…" | translate }}
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">{{ "Меню" | translate }}</h5>
        <ul>
          <li
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
          >
            <a
              routerLink=""
              class="grey-text text-lighten-3"
            >
              {{ "Главная" | translate }}
            </a>
          </li>
          <li
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
          >
            <a
              routerLink="trips"
              class="grey-text text-lighten-3"
            >
              {{ "Пробеги" | translate }}
            </a>
          </li>
          <li
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
          >
            <a
              href="http://autotourism.org.ua/forum/"
              class="grey-text text-lighten-3"
            >
              {{ "Форум" | translate }}
            </a>
          </li>
          <li
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
          >
            <a
              class="grey-text text-lighten-3"
              routerLink="about"
            >
              {{ "О движении" | translate }}
            </a>
          </li>
          <li
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
          >
            <a
              routerLink="orgs"
              class="grey-text text-lighten-3"
            >
              {{ "Организаторы" | translate }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © {{date | date:'yyyy'}} {{ "Автотуризм без границ" | translate }}.
      <a href="https://www.linkedin.com/in/soko1off/" target="_blank" class="right white-text"><i
        class="material-icons tiny">open_in_new</i> Developed by Aleksandr Sokolov</a>
    </div>
  </div>
</footer>
