<div class="container">
  <div class="row">
    <div class="col l8 offset-l2 s12 header">
      <h1>{{"Организаторы"| translate}}</h1>
    </div>
    <div class="col s12">
      <div class="row" *ngIf="!isLoaded">
        <autotourism-loader></autotourism-loader>
      </div>
      <div *ngIf="isLoaded">
        <div class="card" *ngFor="let org of orgs">
          <div class="row">
            <div class="col m3 s12 card-image">
              <img [src]="org.photo">
            </div>
            <div class="col m9 s12 card-content">
              <h3>{{org.name| translate}} / {{org.nick}}</h3>
              <span class="black-text" [innerHTML]="org.description">

              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

