<div class="block">
  <div class="container">
    <div class="row">
      <div class="col l8 offset-l2 s12 header">
        <h1 *ngIf="!isLoaded">Информация о пробеге</h1>
        <h1 *ngIf="isLoaded">{{trip.name}}</h1>
      </div>
      <div class="row" *ngIf="!isLoaded">
        <autotourism-loader></autotourism-loader>
      </div>
      <div class="col l4 s12" *ngIf="isLoaded">
        <div class="collection">
          <a
            class="collection-item"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            routerLink="info"
          >
            <i class="material-icons">info_outline</i>
            Информация о пробеге
          </a>
          <a
            class="collection-item"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            routerLink="members"
          >
            <i class="material-icons">people</i>
            Список участников
          </a>
          <a
            class="collection-item"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            [routerLink]="['/report',id]"
            *ngIf="trip.report"
          >
            <i class="material-icons">description</i>
            Отчёт о пробеге
          </a>
        </div>
        <autotourism-time-line [route]="trip.route" *ngIf="trip.route.length > 0"></autotourism-time-line>
      </div>

      <div *ngIf="isLoaded">
        <div class="col l8 s12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
