<div class="col l10 offset-l2 s12 header">
  <h1>{{"Автотуризм без границ"| translate}}</h1>
</div>
<div class="col l12">
  <div class="card">
    <div class="row" *ngIf="!isLoaded">
      <autotourism-loader></autotourism-loader>
    </div>
    <div class="card-content" *ngIf="isLoaded">
      <div class="row">
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
          <div class="col l12">
            <quill-editor
              [(ngModel)]="article"
              name="article"
              [modules]="modules"
              [placeholder]="'Введите текст...'| translate"
            ></quill-editor>
          </div>
          <div class="col l12">
            <div
              @fade
              class="card light-green accent-3"
              *ngIf="message"
            >
              <div class="card-content">
                <p>{{message | translate}}</p>
              </div>
            </div>
          </div>
          <div class="col l12">
            <button
              class="waves-effect waves-green btn right"
              type="submit"
            ><i class="material-icons left">save</i>
              {{"Сохранить"| translate}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
