<div class="row">
  <div class="col l10 offset-l2 s12">
    <h1 class="header">Экипажи пробега
      <ng-container *ngIf="isLoaded">{{trip.number?"№"+trip.number:""}} {{trip.name}}</ng-container>
    </h1>
  </div>
  <div class="col s12">
    <a
      class="waves-effect waves-teal btn-flat btn "
      [routerLink]="['/admin', 'trips']"
    >
      <i class="material-icons left">arrow_back</i>
      Назад
    </a>
    <ng-container *ngIf="isLoaded && id">
      <a class="waves-effect waves-teal btn-flat" [routerLink]="['/admin', 'trips', id]">
        <i class="material-icons left">info_outline</i>
        Информация
      </a>
      <a class="waves-effect waves-teal btn-flat" [routerLink]="['/admin', 'trips', id, 'route']">
        <i class="material-icons left">timeline</i>
        Маршрут
      </a>
      <a class="waves-effect waves-teal btn-flat" [routerLink]="['/admin', 'trips', id, 'members']">
        <i class="material-icons left">people</i>
        Экипажи пробега
      </a>
      <a class="waves-effect waves-teal btn-flat" [routerLink]="['/admin', 'trips', id, 'report']">
        <i class="material-icons left">description</i>
        Отчёт
      </a>
    </ng-container>
  </div>

  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <app-loader *ngIf="!isLoaded"></app-loader>
        <div *ngIf="isLoaded">
          <!-- Modal Trigger -->
          <div class="row">
            <button
              class="waves-effect waves-light btn modal-trigger right"
              data-target="import-modal"
              type="button"
            >
              <i class="material-icons left">get_app</i>
              Импортировать экипажи
            </button>
          </div>
          <div class="row">
            <div class="col s12 m12">
              <div class="card red darken-1" *ngIf="errorRow.length > 0 || smallRow.length > 0">
                <div class="card-content white-text" *ngIf="errorRow.length > 0">
                  <p><strong>Следующие строки не импортированы из-за того что в строке нашлось более 4-х
                    колонок:</strong></p>
                  <ul *ngFor="let error of errorRow">
                    <li>{{error}}</li>
                  </ul>
                </div>
                <div class="card-content white-text" *ngIf="smallRow.length > 0">
                  <p><strong>Следующие строки не импортированы из-за того что в строке нашлось менее 4-х
                    колонок:</strong></p>
                  <ul *ngFor="let error of smallRow">
                    <li>{{error}}</li>
                  </ul>
                </div>
              </div>
              <div class="card amber darken-1" *ngIf="headerRow.length > 0">
                <div class="card-content white-text">
                  <p><strong>Следующие строки не импортированы из-за того что определились как заголовок:</strong></p>
                  <ul *ngFor="let error of headerRow">
                    <li>{{error}}</li>
                  </ul>
                </div>
              </div>
              <div class="card light-green accent-3" *ngIf="updatedMembers.length > 0 || importedMembers.length > 0">
                <div class="card-content" *ngIf="updatedMembers.length > 0">
                  <p><strong>Информация по следующим экипажам обновлена:</strong></p>
                  <p>{{updatedMembers.join(', ')}}</p>
                </div>
                <div class="card-content" *ngIf="importedMembers.length > 0">
                  <p><strong>Добавленые экипажи:</strong></p>
                  <p>{{importedMembers.join(', ')}}</p>
                </div>
              </div>
            </div>
          </div>

          <form
            [formGroup]="form"
            (ngSubmit)="onSubmit()"
          >
            <ng-container formArrayName="members">
              <ng-container *ngFor="let items of form.controls.members.controls; let i = index;">
                <div [formGroupName]="i" class="row">
                  <div class="input-field col l3 s6">
                    <input
                      [id]="'nick_'+i"
                      type="text"
                      formControlName="nick"
                      [mAutocomplete]="{'data':nicks, minLength: 0}"
                      autocomplete="new-password"
                    >
                    <label [for]="'nick_'+i">
                      Ник
                    </label>
                    <span
                      class="helper-text red-text"
                      *ngIf="items.get('nick').touched && items.get('nick').invalid && items.get('nick').errors['required']"
                    >
                    Ник обязательное поле
                  </span>
                  </div>
                  <div class="input-field col l2 s6">
                    <input
                      [id]="'number_'+i"
                      type="text"
                      formControlName="number"
                    >
                    <label [for]="'number_'+i">
                      Номер экипажа
                    </label>
                  </div>
                  <div class="input-field col l3 s6">
                    <input
                      [id]="'auto_'+i"
                      type="text"
                      formControlName="auto"
                      [mAutocomplete]="{'data':autous, minLength: 0}"
                      autocomplete="new-password"
                    >
                    <label [for]="'auto_'+i">
                      Автомобиль
                    </label>
                  </div>
                  <div class="input-field col l3 s6">
                    <input
                      [id]="'city_'+i"
                      type="text"
                      formControlName="city"
                      [mAutocomplete]="{'data':cities, minLength: 0}"
                      autocomplete="new-password"
                    >
                    <label [for]="'city_'+i">
                      Место проживания
                    </label>
                    <span
                      class="helper-text red-text"
                      *ngIf="items.get('city').touched && items.get('city').invalid && items.get('city').errors['required']"
                    >
                      Ник обязательное поле
                    </span>
                  </div>
                  <div class="input-field col s12 l1 center">
                    <button
                      type="button"
                      class="btn-floating waves-effect waves-light red"
                      (click)="removeRow(i)"
                    >
                      <i class="material-icons">delete_forever</i>
                    </button>
                  </div>
                </div>
              </ng-container>
            </ng-container>
            <div class="row">
              <div class="col s12 m6">
                <button
                  class="btn waves-effect waves-light left"
                  type="button"
                  (click)="newRow()"
                  [disabled]="form.invalid"
                >
                  Добавить
                  <i class="material-icons left">add</i>
                </button>
              </div>
              <div class="col s12 m6">
                <button
                  class="btn waves-effect waves-light green right"
                  type="submit"
                >
                  Сохранить
                  <i class="material-icons right">send</i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="fixed-action-btn">
    <button
      class="btn-floating btn-large blue"
      *ngIf="deletedMember"
      (click)="restoreLastDeleted()"
    >
      <i class="large material-icons">undo</i>
    </button>
  </div>
  <div
    id="import-modal"
    class="modal modal-fixed-footer"
    mModal
  >
    <form
      (ngSubmit)="onImportMembers(importForm)"
      #importForm="ngForm"
    >
      <div class="modal-content">
        <h4>Импорт экипажей</h4>

        <div class="row">
          <div class="col s12">
            <p>Список экипажей может быть легко импортирован из документа Word или Excel, для этого скопируйте
              содержимое документа в поле ниже и нажмите импортировать.</p>
            <p>Документ должен содержать 4 колонки в следующем порядке: № Экипажа, Ник, Автомобиль, Место
              проживания.</p>
          </div>
          <div class="input-field col s12">
              <textarea
                id="textarea1"
                class="materialize-textarea"
                ngModel
                name="imported-members"
              ></textarea>
            <label for="textarea1">Данные из Word или Excel</label>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="submit" class="modal-close waves-effect waves-green btn-flat">Импортировать</button>
      </div>
    </form>
  </div>
</div>
