<div class="container">
  <div class="row">
    <div class="col l10 offset-l2 s12 header">
      <h1>{{"Авторизация"| translate}}</h1>
    </div>
    <div class="col l6 offset-l3 s12">
      <form
        class="card-panel white"
        #form="ngForm"
        (ngSubmit)="onLogin(form)"
      >
        <div class="row">
          <div class="col l12">
            <div
              @fade
              class="card red lighten-3"
              *ngIf="message"
            >
              <div class="card-content">
                <p>{{message| translate}}</p>
              </div>
            </div>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input
              id="username"
              type="text"
              required
              class="validate"
              #username="ngModel"
              name="username"
              ngModel
            >
            <label for="username">{{"Логин"| translate}}</label>
            <span
              class="helper-text red-text"
              *ngIf="username.invalid && username.touched"
            >
              {{"Введите имя пользователя"| translate}}
            </span>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <input
              id="password"
              type="password"
              required
              class="validate"
              #password="ngModel"
              name="password"
              ngModel
            >
            <label for="password">{{"Пароль"| translate}}</label>
            <span
              class="helper-text red-text"
              *ngIf="password.invalid && password.touched"
            >
              {{"Введите пароль"| translate}}
            </span>
          </div>
          <div class="input-field col s12">
            <button
              class="btn waves-effect waves-light green right"
              type="submit"
              [disabled]="!form.valid"
            >
              {{"Войти"| translate}}
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
